*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: normal;
  src: local('OpenDyslexic'), url(./fonts/OpenDyslexic-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: bold;
  src: local('OpenDyslexic'), url(./fonts/OpenDyslexic-Bold.otf) format('opentype');
}

* {
  font-family: 'OpenDyslexic';
}

a {
  text-decoration: none;
}

a,
button,
input {
  cursor: pointer;
}
