*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-weight: normal;
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'), url(./assets/fonts/OpenDyslexic-Regular.otf) format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'), url(./assets/fonts/OpenDyslexic-Bold.otf) format('opentype');
}

* {
  font-family: 'OpenDyslexic';
}

a {
  text-decoration: none;
}

a,
button,
input {
  cursor: pointer;
}

.Toastify__toast--info,
.Toastify__toast--error,
.Toastify__toast--success {
  box-shadow: 0px 0px 30px #f1fbff30;
}
